<head>
  <title>BattleShips - Return of the Boat</title>
</head>

<body>

<div style="font-size: 40px; text-align: center; border: 5px black">
  <p>New Game</p>
</div>

<div style="text-align: center">

    <form action="/game" method="post">
      <p>What's your name?</p>
      <input type="text" name="name">
      <input type="submit" value="Submit">
    </form>
    <p>Please enter your name</p>
  
</div>

</body>

